<%- include('partials/header') %>

    <% posts.forEach(el => { %>
        <div>

            <img id="firstImg" src="<%=el.src %>" alt="img" width="500" height="600">
        </div>


        <% }) %>
            <%- include('partials/footer') %>